@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.edit {
    /* background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box; */
    background-color: #000;
}

.edit::before
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background: url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1294&q=80") no-repeat center center;
    background-size: cover;
}

.edit-1 {
    background: url("https://images.unsplash.com/photo-1604131800125-36a18659cc50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

@layer components
{
    .accordion-open-body-1
    {
        @apply transition-all ease-out
    }
}

.display-none
{
    @apply hidden;
}